@font-face {
    font-family: arcade;
    src: url(ARCADECLASSIC.TTF);
  }

  body {
      background-color: rgb(122, 150, 122);
      font-family: 'VT323', monospace;
      letter-spacing: 0.7rem;
      margin:0;
      
  }

  h1 {
      font-size: 7rem;
      font-family: arcade;
      background-color: black;
      color:green;
      text-align: center;
      border-radius: 75px 0px 75px 0px ;
      margin: 0 auto 40px;
      width: 80%;
  }

  h2 {
      margin:0;
      font-size: 3rem;
  }

  main {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin:0 100px;
      text-align: center;
  }



/* ---INTRO SECTION STYILING--- */


  #intro {
      display:flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: center;
  }

  #intro p {
      margin: 20px 300px;
      font-size: 1.5rem;
  }

  @media (max-width: 1361px) {
    #intro p {
        margin: 50px 200px;
    }
  }


  @media (max-width: 1280px) {
    #intro p {
        margin: 50px 100px;
    }
  }

  .btn-game {
    border-radius: 20px;
    height: 50px;
    width: 241px;
    font-family: arcade;
    letter-spacing: 0.7rem;;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    background-color: rgb(255, 255, 34);
    margin-top: 10px;

    
 }
 
 .btn-game:hover {   
    background: green;
    border-radius: 20px;
    cursor: pointer;
   
 }

 /* ---GAME SECTION STYLING--- */
 #game {
     display:flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     margin-top:30px
     
 }

 #canvas {
    border:5px solid rgb(255, 255, 34) ;
    border-radius: 5px;
}

.timebar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.sound-img {
  border-radius: 50%;
  width:40px;
  display: inline-block;
  margin:0 50px 0 0;
}

#timebar {
  border-radius: 25px;
}
#timer {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom:20px;
  
}

#timer h2 {
  margin:0 20px;
  font-size: 2rem;
}

 /* ---FOOTER STYLING--- */

 footer {
  width: 100%;
 }

 #credits {
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: normal;
    margin-top:50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
  
  }

  #credits h6 {
    font-size: 0.7rem;
    font-weight: bold;
    margin:0;
  }

  .hidden {
    visibility: hidden;
  }

  /*-------*/